<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="LocationMatchingSessionFactory">
  <property name="hibernate.connection.datasource">jdbc/LocationMatching</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <mapping class="com.locationmatching.domain.LocationProvider"/>
  <mapping class="com.locationmatching.domain.LocationScout"/>
  <mapping class="com.locationmatching.component.Image"/>
  <mapping class="com.locationmatching.component.Location"/>
  <mapping class="com.locationmatching.component.LocationRequest"/>
  <mapping class="com.locationmatching.component.CreditCardImpl"/>
  <mapping class="com.locationmatching.component.ProviderSubmission"/>
  <mapping class="com.locationmatching.component.ScoutAlert"/>
 </session-factory>
</hibernate-configuration>
