.errorMessage
{
	font-weight:bold;
	font-size:20px;
	color:red;
}
.errorMessageSmaller
{
	font-weight:bold;
	color:red;
}
.successMessage
{
	font-weight:bold;
	font-size:20px;
	color:black;
}
.unreadScoutAlert
{
	color:red;
}
.boldText
{
	font-weight:bold;
}
.tableCellNoBorder
{
	border:none;
}
.tableBorderOnly
{
	border:1px;
	border-collapse:collapse;
}
.fontSize10
{
	font-size:10px;
}
.fontSize14
{
	font-size:14px;
}
.fontSize18
{
	font-size:18px;
}
.fontSize20
{
	font-size:20px;
}
.fontSize40
{
	font-size:40px;
}
.lineWidth2
{
	width:2px;
}