.errorMessage
{
	font-weight:bold;
	font-size:20px;
	color:red;
}
.errorMessageSmaller
{
	font-weight:bold;
	color:red;
}
.successMessage
{
	font-weight:bold;
	font-size:20px;
	color:black;
}
.unreadScoutAlert
{
	color:red;
}
.boldText
{
	font-weight:bold;
}
.tableCellNoBorder
{
	border:none;
}
.tableBorderOnly
{
	border:1px;
	border-collapse:collapse;
}